@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #26292b;
}

.container-slide{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 80vh;
  background-color: black;
  margin: 20vh auto;
  border-radius: 10px;
  box-shadow: 0 0px 20px black;
 
}

.container-items {
  position: absolute;
  display: flex;
  width: 80vw;
  height: 80vh;
  border-radius: 10px;
  overflow: hidden;
}

.item {
  width: 80vw;
  height: 80vh;
  transition: all 1s;
}
.item:first-child{
  margin-left: -100%;
}

.item img {
  width: 80vw;
  height: 80vh;
  border-radius: 10px;
}

.action-button{
  font: bold 30px sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  color: #00000000;
  user-select: none;
  z-index: 1;
}
.action-button{
  color: white;
  background-color: #00000055;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s;
}

footer {
    padding:40px 0;
    color:#4b4c4d;
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .social-icons a {
    background-color:#2d2e30;
    color:#e6f3fd;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
    line-height:34px;
    height:34px;
    width:34px;
  }
 
  .social-icons a.instagram:hover {
    background-color:#8b50ad
  }
 
  .social-icons a.github:hover {
    background-color:#202224
  }

  .social-icons a.linkedin:hover {
    background-color:#007bb6
  }

  
.copyright {
    margin-top:15px;
    text-align:center;
    font-size: 15px;
    font-family: Raleway;
    color:rgb(206, 206, 206);
  }